beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.1
cmake==4.3.1
colorama==0.4.6
comtypes==1.4.16
contourpy==1.3.2
cycler==0.12.1
dlib @ file:///C:/Users/ELCOT/Downloads/dlib-19.22.99-cp310-cp310-win_amd64.whl#sha256=f2181b6724669fb0147c9ebc326d72b94de41bced1812eff5df4b133b5d0b575
docopt==0.6.2
face-recognition==1.3.0
face_recognition_models==0.3.0
Flask==3.1.3
Flask-Mail==0.10.0
fonttools==4.63.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
Js2Py==0.74
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.9
MouseInfo==0.1.3
nltk==3.9.4
numpy==2.2.6
opencv-python==4.13.0.92
packaging==26.0
pandas==2.3.3
pillow==12.2.0
pipwin==0.5.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
pyjsparser==2.7.1
PyMsgBox==2.0.1
pyparsing==3.3.2
pyperclip==1.11.0
pypiwin32==223
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==1.0.1
pySmartDL==1.3.4
python-dateutil==2.9.0.post0
pyttsx3==2.99
pytweening==1.2.0
pytz==2026.1.post1
pywhatkit==5.4
pywin32==311
regex==2026.5.9
reportlab==5.0.0
requests==2.33.1
six==1.17.0
soupsieve==2.8.3
SpeechRecognition==3.16.0
tqdm==4.68.3
typing_extensions==4.15.0
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
Werkzeug==3.1.8
wikipedia==1.4.0
